@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B);

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'poppins', sans-serif;
}
:root {
    --base-color: #161616;
    --base-variant: #161616;
    --text-color:white;
    --secondary-text:white;
    --primary-color:white;
    --accent-color:#f5bd02;
}
.darkmode {
    --base-color: white;
    --base-variant: white;
    --text-color:#161616;
    --secondary-text:#161616;
    --primary-color:#161616;
    --accent-color:#f5bd02;
}
#btn-switch {

    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color:var(--base-color); 
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom:0;
}

#btn-switch svg{
    fill: var(--accent-color)
}

#btn-switch svg:last-child{
    display: none;
}
.darkmode #btn-switch svg:first-child {
    display: none;
}

.darkmode #btn-switch svg:last-child {
    display: block;
}
html{
    font-size: 62.5%;
    
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--base-color);
    color:var(--text-color);

}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: var(--base-color);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: var(--accent-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: var(--primary-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav :active{
        color: var(--accent-color);
        border-bottom: 3px solid var(--accent-color);
    }
@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0%;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--accent-color);
        border-bottom: 3px solid var(--accent-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: var(--base-color);
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
    display: block;
    }

    nav a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;   
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--accent-color);
    }
}
section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color:var(--base-color);
}

.home .home-content h1{
    font-size: clamp(2rem, 0.718rem + 5.47vw, 6rem);
    font-weight: 700;
    line-height: 1.3;
}

span{
    font-size: 6rem;
    color: var(--accent-color);
    display: inline-block;
    -webkit-text-stroke: .7px var(--accent-color);
}

.home-content h2{
    font-size: clamp(2rem, 0.718rem + 5.47vw, 4rem);
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content P{
    font-size: clamp(1rem, 0.718rem + 5.47vw, 2rem);
}
.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid var(--accent-color);
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem;
    transition: 0.3s ease;
    color: var(--accent-color);  
}

.social-icons a:hover{
    color: var(--base-color);
    transform: scale(1.3) translatey(-5px);
    background-color: var(--accent-color);
    box-shadow: 0 0 25px var(--accent-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--base-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--accent-color);
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid var(--accent-color);
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: var(--accent-color);
    color: var(--base-color);
    box-shadow: 0 0 25px var(--accent-color);
}

.typing-text{
    font-size: clamp(2rem, 0.718rem + 5.47vw, 4rem);
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
    font-size: clamp(2rem, 0.718rem + 5.47vw, 4rem);
}

.typing-text span::before{
    content: "Student";
    color: var(--accent-color);
    animation: words 10s infinite;
}

.typing-text span::after{
    content: "";
    background-color:var(--base-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--base-color);
    right: -8;
    animation: cursor 0.6s infinite;
    animation-direction: alternate-reverse;
}

@keyframes cursor{
    to{
        border-left: 3px solid var(--accent-color);
    }
}

@keyframes words{
    0%, 20%{
        content: "Student";
    }
    21%, 40%{
        content: "Bezorger";
    }
    41%, 60%{
        content: "ICT Medewerker";
    }
    61%, 80%{
        content: "Gamer";
    }
    81%, 100%{
        content: "Reparatur";
    }
}

@media(max-width:1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h2{
        font-size: 2rem;
    }

    .home .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vW;
        margin-top: 4rem;
    }
}
.social-icons2 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.social-icons2 a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    background-color: transparent;
    border: 0.2rem solid var(--accent-color);
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem;
    transition: 0.3s ease;
    color: var(--accent-color);  
}

.social-icons2 a:hover{
    color: var(--base-color);
    transform: scale(1.3) translatey(-5px);
    background-color: var(--accent-color);
    box-shadow: 0 0 25px var(--accent-color);
}
footer{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
    position: fixed;
    bottom:0;
}
footer a{
    font-size: 1.0rem;
    color: var(--text-color);
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

footer a:hover,
footer :active{
    color:var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
}

form{
    padding: 3px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 10px;
    max-width: fit-content;
    background-color:var(--base-color);

}
form label{
    font-weight: bold;
    color: var(--text-color);
    
}
form input[type=submit]{
    max-width: fit-content;
    color: var(--accent-color);
    background-color: var(--base-color);
    border-bottom: 3px solid transparent;
}
form input{
    border:1px solid #161616;
    border-radius: 3px;
}


.topnav #myLinks {
  display: none;
}
.navigation{
    position: fixed;
    right: -500px;
    width: 350px;
    height: 100%;
    background-color: var(--base-color);
    transition: .5s;
}

.navigation ul li{
    color: var(--text-color);
    text-align: right;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 1.5em;
    padding: 20px 30px;
    border-bottom: 1pt solid var(--base-color);
}

.hamburger, .bar{
    position: fixed;
}

.hamburger{
    display: block;
    top: 5%;
    left: 95%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    border: 0;
    background: 0 0;
}

.bar{
    top: 19px;
    background: var(--text-color);
    width: 100%;
    height: 4px;
    transition: all .3s ease-in;
}

.bar:hover{
    transform: scale3d(1.03);
    background-color: var(--accent-color);
    color: var(--base-color);
    box-shadow: 0 0 25px var(--accent-color);
}

#bar2{
    top: 27px;
}

#bar3{
    top: 35px;
}

.navigation.active{
    right: 0;
}

.hamburger.open #bar1{
    background-color: var(--accent-color);
    transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #bar2{
    background-color: transparent;
    
}

.hamburger.open #bar3{
    background-color: var(--accent-color);
    transform: rotate(-45deg) translate(6px, -5px);
}



.ev1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-family: "poppins" sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

.h1e  {
    font-weight: normal;
    font-size: 60px;
    margin: -150px 0 40px;
}
.countdown {
    display: flex;
    transform: scale(2);
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.time h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 1;
    margin: 0 0 5px;
    color: var(--accent-color);
}
@media (max-width: 500px) {
    .h1e {
        font-size: 45px;
    }
    .time {
        margin: 5px;
    }
    .time h2 {
        font-size: 12px;
        
    }
    .time small {
        font-size: 10px;
    }
}

.eh1 {
    color: var(--accent-color);
}

#consent-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem 8rem;
    background-color: var(--text-color);
    color: var(--base-color);
    transition: opacity 1s ease;

    &.hidden {
        opacity: 0;
    }
}
.coo {
    color: var(--accent-color);
    font-weight: bold;
    font-style: italic;
}
#accept {
    color: var(--accent-color);
    font-weight: bold;
    font-style: italic;
}